
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body{
   background-image: url("image/bg.png");
   background-repeat: no-repeat;
   overflow: hidden;
}

#cat{
   width: 200px;
   overflow: hidden;
    
        display: block;
        margin-top: 6%;
        margin-left: auto;
        margin-right: auto;
        width: 23%;
       
      
}

h1{
    text-align: center;
    font-family: "Architects Daughter", cursive;
    font-size: 35px;
    font-style: italic;
    position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: shake 1s infinite;


}
.hidden {
   display: none;
}
 
 .insta{
    text-align: center;
    margin-top: 3%;

  

 }
 
 @keyframes shake {
    0% { transform: translateX(-50%); }
    10% { transform: translateX(-50%) rotate(-5deg); }
    20% { transform: translateX(-50%) rotate(5deg); }
    30% { transform: translateX(-50%) rotate(-5deg); }
    40% { transform: translateX(-50%) rotate(5deg); }
    50% { transform: translateX(-50%) rotate(0deg); }
    100% { transform: translateX(-50%); }
  }
  
  #birthday
  {
   margin-left: 80%;
   margin-top: -1%;
   border-radius: 50px;
   background-color: red;
   opacity: 0.8;
   
   

   
  }

  .button {
   
   background: linear-gradient(255,255,255,0);
   border: 0 solid #E2E8F0;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   box-sizing: border-box;
   color: #1A202C;
   display: inline-flex;
   font-family: Inter, sans-serif;
   font-size: 0.8rem;
   font-weight: 700;
   
  
   line-height: 24px;
   overflow-wrap: break-word;
   padding: 10px;
   
   
   border-radius: 8px;
   cursor: pointer;
  
   margin-left: 80%;
   margin-top: -10%;
   margin-bottom: 0%;
  

   

   }
  
